
.post{
    background-color: #f4f6f7;
    /* border-bottom: #2c3e50 solid 1px; */
    /* border-radius: 1ch; */
    /* height: 25vh;*/
    width: 45vw; 
    padding: 2vh;
    /* display: inline-block; */
    margin-bottom: 2vh;

}

.tweet{
    /* background-color: #f0f3f4; */
    border-bottom: #1b4f72 solid 2px;
    /* border-radius: 1ch; */
    font-family: fantasy;
    color: #3498db;
    width: 35vw; 
    padding: 2vh;
    display: inline-block;
    height: 10vmin;
}

.comment{
    /* background-color: #D0D3D4; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#2e4053;
    border-bottom: #2c3e50 solid 1px;
    /* border-radius: 2ch; */
    /* margin-left: 10vh; */
    width: 35vw; 
    margin-top: 2vh;
    padding: 2vh;
    display: inline-block;
}
.delete-post{
    float: right;
    border: #f4f6f7;
    color: #3da1e4;
    background-color: #2c3e50;
    font-weight: bold;
    border-radius: 55%;
}
.delete-post:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.add-comment-text{
    width: 30vw;
}
.add-comment{
    width: 5vw;
    height: 3.2vh;
    float: right;
}

.add-comment-section{
    display: inline-block;
}
.delete-comment{
    color: tomato;
    border-radius: 50%;
    border: 1px solid grey;
}
.delete-comment:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}